<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" [fullScreen] = "true" *ngIf="carregando">
  <p style="color: white" >Carregando... </p>
</ngx-spinner>

<div *ngIf="!carregando" class="dadosCartoes">
  <div class="cabecalho">
    <div class="widthCabecalho">
      <mat-grid-list cols="2" rowHeight="50px">
        <mat-grid-tile>
          <h2 class="titulo">Despesas cadastradas</h2>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-stroked-button color="primary" routerLink="/cartoes/novocartao" (click)="inserir()">
            Nova Despesa
          </button>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-divider></mat-divider>
    </div>

    <form [formGroup]="filtroFormulario" >

      <div class="row mt-2 campoFiltro widthFiltros">
        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Descrição</mat-label>
            <input matInput type="text" formControlName="descricao" maxlength="20">

            <button matSuffix mat-icon-button type="button" tabindex="-1" (click)="limparBotoes('descricao')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Categoria</mat-label>

            <mat-select multiple formControlName="categorias">
              <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nome}}</mat-option>
            </mat-select>

            <button matSuffix mat-icon-button type="button" tabindex="-1" (click)="limparBotoes('categorias')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Data Inicial</mat-label>
            <input matInput [matDatepicker]="datepicker" formControlName="dataInicial">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>

            <mat-error *ngIf="propriedade.dataInicial.touched && propriedade.dataInicial.errors?.matDatepickerParse">
              Data inválida.
            </mat-error>

            <button matSuffix mat-icon-button type="button" tabindex="-1" (click)="limparBotoes('dataInicial')">
              <mat-icon>close</mat-icon>
            </button>

          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Data Final</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dataFinal">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            <mat-error *ngIf="propriedade.dataFinal.touched && propriedade.dataFinal.errors?.matDatepickerParse">
              Data inválida.
            </mat-error>

            <button matSuffix mat-icon-button type="button" tabindex="-1" (click)="limparBotoes('dataFinal')">
              <mat-icon>close</mat-icon>
            </button>

          </mat-form-field>
        </div>

        <div class="botaoFiltrar">
          <button type="button" mat-raised-button color="primary" (click)="listar(true)">Filtrar</button>
        </div>

      </div>

    </form>

    <div class="marginTable">

      <table mat-table [dataSource]="dispesas" class="mat-elevation-z8">

        <ng-container matColumnDef="cartao">
          <th mat-header-cell *matHeaderCellDef> Número do cartão </th>
          <td mat-cell *matCellDef="let despesa"> {{despesa.cartao.numero}} </td>
        </ng-container>

        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef> Descrição </th>
          <td mat-cell *matCellDef="let despesa"> {{despesa.descricao}}</td>
        </ng-container>

        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef> Categoria </th>
          <td mat-cell *matCellDef="let despesa"> {{despesa.categoria.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef> Valor </th>
          <td mat-cell *matCellDef="let despesa"> {{despesa.valor}} </td>
        </ng-container>

        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let despesa"> {{despesa.data | date : 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let despesa">
            <button type="button" mat-icon-button color="primary" style="margin-right: 3px;" (click)="editar(despesa.id)">
              <mat-icon>mode_edit</mat-icon>
            </button>
            <button type="button" mat-icon-button color="primary" (click)="excluir(despesa.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 15, 20]"
                     [pageSize]="pageDespesa?.size"
                     [pageIndex]="pageDespesa?.number"
                     [length]="pageDespesa?.totalElements"
                     (page)="paginar($event)"
                     showFirstLastButtons
                     class="widthPaginator">
      </mat-paginator>
    </div>
  </div>
</div>
