::ng-deep .modal-header {
  border-bottom: unset;
  padding: 0;
}

::ng-deep .modal-body {
  padding: 1rem 1rem 0.4rem 1rem;
}

::ng-deep .modal-footer {
  border-top: unset;
  padding: 0px 0.75rem 0.75rem 0.75rem;
}

::ng-deep .modal-backdrop {
  background-color: unset!important;
}

.botaoFooter {
  height: 2rem;
  display: flex;
  align-items: center;
}

.fonteMsg {
  font-size: 17px;
}

.botaoFechar {
  margin-right: 5px;
}
