.circle {
  border-radius: 50%;
  height: 7vh!important;
  margin: 20px;
  margin-bottom: 4rem;
}

.backgroud {
  overflow: hidden;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1
}

::ng-deep .mat-drawer-container {
  height: 100%!important;
}

::ng-deep .mat-list-base {
  padding-top: 0!important;
}

.sidenav {
  width: 280px;
  @media screen and (max-width: 1000px) {
    width: 200px;
  }
}

.selectionList {
  cursor: pointer
}

.optionUsuario {
  height:20vh!important;
  color: white;
  margin-bottom: 10px;
}

.imagemBackgroud {
  width: 100%;
  height: 100%;
}

.spanUsuario {
  position: absolute!important;
  bottom: 25px!important;
  margin-left: 20px!important;
  font-size: 17px!important;
}

.divOption {
  display: flex;
  align-items: center;
}

.marginIcon {
  margin-right: 5px!important;
}

.centralizarLogin {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonUsuario {
  width: 0px!important;
  height: 0px!important;
  border: unset!important;
  padding: 0!important;
}

