/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";


.divCartao{
  padding: 50px;
  width: 35vw;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.tamanho{
  width: 31vw;
  margin-bottom: 16px;
}

.card{
  border: 0.5px solid #9b98989d;
}

.cardContent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divBotoes{
  display: flex;
  justify-content: flex-end;
}

.row {
  margin: 0;
}

